<!DOCTYPE  html>
<html class="h-100"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/estilo.css" />
<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />

<head>
<meta charset="UTF-8">
<title>Cadastrar Pratos | EmGula</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

</head>
<body class="h-100">
	<div class="content container-fluid p-0 d-flex flex-column h-100">
		<header>
			<nav class="navbar navbar-expand-lg navbar-light bg-light ">
				<div class="container">
					<a class="navbar-brand h1 mb-0" href="/EmGula"><img
						src="/img/logo.png" width="120px" height="50px" /></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarNavAltMarkup"
						aria-controls="navbarNavAltMarkup" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse d-flex justify-content-around" id="navbarNavAltMarkup">
						<div class="navbar-nav d-flex ">
							<a class="nav-item nav-link ml-4 mr-4" href="/EmGula">Home</a> <a
								class="nav-item nav-link ml-4 mr-4" href="#">Destaques</a> <a
								class="nav-item nav-link ml-4 mr-4" href="/EmGula/cardapio">Cardápio</a>
								 <a sec:authorize="hasRole('ROLE_ADM')"
								class="nav-item nav-link ml-4 mr-4" href="/EmGula/listarClientes">Ver clientes</a> <a
								sec:authorize="hasRole('ROLE_CLIENTE')"
								class="nav-item nav-link ml-4 mr-4" href="/EmGula/pedido/sacola">Pedido</a> <a
								sec:authorize="hasRole('ROLE_CLIENTE')"
								class="nav-item nav-link ml-4 mr-4" href="/EmGula/historico">Histórico de
								Pedidos</a>
							<div class="nav-item d-inline-flex" sec:authorize="isAnonymous()">
								<a class="nav-link" href="/EmGula/cadastrar">Cadastre-se</a> <a
									class="btn btn-dark ml-9" href="/EmGula/logar">Entrar</a>
							</div>
							<div sec:authorize="isAuthenticated()"
								class="nav-item d-inline-flex">

								<a class="btn btn-danger " href="/logout">Encerrar sessão</a>
							</div>

						</div>
					</div>
				</div>
			</nav>
		</header>
		<div class="container mt-5 mb-5 h-100">


			<form action="#" th:action="@{/EmGula/pratos/salvar}" method="POST"
				th:object="${prato}" enctype="multipart/form-data">

				<div class="alert alert-success" role="alert"
					th:if="${!#strings.isEmpty(mensagem)}">
					<i class="far fa-thumbs-up"></i> <span th:text="${mensagem}"></span>
				</div>

				<div class="alert alert-danger" role="alert"
					th:if="${#fields.hasAnyErrors()}">

					<div th:each="detailedError : ${#fields.detailedErrors()}">
						<i class="fas fa-bug"> </i> <span
							th:text="${detailedError.message}"></span>
					</div>

				</div>

				<input type="hidden" th:field="*{id}"></input> <input type="hidden"
					th:field="*{cod}"></input> <input type="hidden"
					th:field="*{imagemCaminho}"></input>

				<div class="form-group">
					<label for="nome">Nome</label> <input th:field="*{nome}"
						type="text" class="form-control" id="nome"
						placeholder="Nome do Prato">
				</div>
				<div class="form-group">
					<label for="nome">Preço</label> <input th:field="*{preco}"
						type="text" class="form-control" id="preco"
						placeholder="Preço do Prato">
				</div>
				<div class="form-group">
					<label for="exampleFormControlFile1">Selecione uma Imagem</label> <input
						type="file" class="form-control-file" name="imagem" id="imagem">
				</div>
				<button type="submit" value="Cadastrar" class="btn btn-primary">Cadastrar</button>
				<a href="/EmGula/cardapio" class="btn btn-link">Ver pratos</a>
			</form>
		</div>
		<footer class=" card text-center">
			<div class="card-header">© Copyright 2019 - EmGula. Todos os
				direitos reservados.</div>
			<div class="card-footer text-muted">Desenvolvido por Ronier
				Lima</div>
		</footer>
	</div>

</body>
</html>



