<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Atualizar prato</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div class="row justify-content-md-center">
			<div th:object="${prato}" class="col-sm-6 col-xl-4 mb-4">
				<div class="card">
					<img width="200px" height="300px" th:src=" '/' + ${prato.imagemCaminho}" class="card-img-top"
							alt="..." />
					<div class="card-body">
						<h1 th:text="${prato.nome}" class="card-title"></h1>
						<p th:text="${prato.preco}" class="card-text"></p>
					</div>
				</div>
			</div>
		</div>

		<form action="#" th:action="@{/pratos/atualizar}" method="POST"
			th:object="${prato}" enctype="multipart/form-data">

			<div class="alert alert-success" role="alert"
				th:if="${!#strings.isEmpty(mensagem)}">
				<span th:text="${mensagem}"></span>
			</div>

			<div class="alert alert-danger" role="alert"
				th:if="${#fields.hasAnyErrors()}">

				<div th:each="detailedError : ${#fields.detailedErrors()}">
					<span th:text="${detailedError.message}"></span>
				</div>

			</div>

			<input type="hidden" th:field="*{id}"></input> <input type="hidden"
				th:field="*{cod}"></input> <input type="hidden"
				th:field="*{imagemCaminho}"></input>

			<div class="form-group">
				<label for="nome">Nome</label> <input th:field="*{nome}" type="text"
					class="form-control" id="nome" placeholder="Nome do Prato">
			</div>
			<div class="form-group">
				<label for="nome">Preço</label> <input th:field="*{preco}"
					type="text" class="form-control" id="preco"
					placeholder="Preço do Prato">
			</div>
			<div class="form-group">
				<label for="exampleFormControlFile1">Selecione uma Imagem</label> <input
					type="file" class="form-control-file" name="imagem" id="imagem"
					>
			</div>
			<button type="submit" value="Cadastrar" class="btn btn-primary">Atualizar</button>
			<a href="/pratos/listar" class="btn btn-link">Ver pratos</a>
		</form>
	</div>


</body>
</html>
