<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Pratos Cadastrados</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

</head>
<body>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Nome</th>
				<th scope="col">Preço</th>
				<th scope="col">Imagem</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="prato :${listaDePratos}">
				<td th:text="${prato.id}"></td>
				<td th:text="${prato.nome}"></td>
				<td th:text="${prato.preco}"></td>
				
				<td><img width="200px" height="200px" alt="" src=""
					th:src="${prato.imagemCaminho}"></td>

			</tr>
		</tbody>
	</table>



	<script src="/js/bootstrap.min.js">
		
	</script>
</body>