<!DOCTYPE  html>
<html class="h-100"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/estilo.css" />
<link rel="stylesheet" type="text/css"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />

<title>Lista de Clientes | EmGula</title>

</head>
<body>
	<div class="content container-fluid p-0 d-flex flex-column h-100">
		<header>
			<nav class="navbar navbar-expand-lg navbar-light bg-light ">
				<div class="container">
					<a class="navbar-brand h1 mb-0" href="/EmGula"><img
						src="/img/logo.png" width="120px" height="50px" /></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarNavAltMarkup"
						aria-controls="navbarNavAltMarkup" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse d-flex justify-content-around"
						id="navbarNavAltMarkup">
						<div class="navbar-nav d-flex ">
							<a class="nav-item nav-link ml-4 mr-4" href="/EmGula">Home</a> <a
								class="nav-item nav-link ml-4 mr-4" href="#">Destaques</a> <a
								class="nav-item nav-link ml-4 mr-4" href="/EmGula/cardapio">Cardápio</a>
							<a sec:authorize="hasRole('ROLE_ADM')"
								class="nav-item nav-link ml-4 mr-4"
								href="/EmGula/listarClientes">Ver clientes</a> <a
								sec:authorize="hasRole('ROLE_CLIENTE')"
								class="nav-item nav-link ml-4 mr-4" href="/EmGula/pedido/sacola">Pedido</a>
							<a sec:authorize="hasRole('ROLE_CLIENTE')"
								class="nav-item nav-link ml-4 mr-4" href="/EmGula/historico">Histórico
								de Pedidos</a>
							<div class="nav-item d-inline-flex" sec:authorize="isAnonymous()">
								<a class="nav-link" href="/EmGula/cadastrar">Cadastre-se</a> <a
									class="btn btn-dark ml-9" href="/EmGula/logar">Entrar</a>
							</div>
							<div sec:authorize="isAuthenticated()"
								class="nav-item d-inline-flex">

								<a class="btn btn-danger " href="/logout">Encerrar sessão</a>
							</div>

						</div>
					</div>
				</div>
			</nav>
		</header>
		<div
			class="container mt-5 h-100   justify-content-center ">
			<div
				class="row justify-content-md-center shadow p-3 mb-5 bg-white rounded text-secondary ">
				<h1>Clientes</h1>
			</div>
		
			<div class="row justify-content-md-center">
				<div th:each="usuario :${listaDeClientes}"
					class="m-1">
						<div class="card border-secondary mb-3 shadow-lg rounded" style="max-width: 18rem;">
							<div th:text="${usuario.nome}" class="card-header"></div>
							<div class="card-body text-secondary">
								<p th:text="${usuario.email}" class="card-title"></p>
								<p th:text="${usuario.end}"class="card-text"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class=" card text-center">
			<div class="card-header">© Copyright 2019 - EmGula. Todos os
				direitos reservados.</div>
			<div class="card-footer text-muted">Desenvolvido por Ronier
				Lima</div>
		</footer>
	</div>
</body>
</html>