<!DOCTYPE  html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Pratos Cadastrados | EmGula</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

</head>
<body>
	<div class="content container-fluid p-0">
		<header>
			<nav class="navbar navbar-expand-lg navbar-light bg-light ">
				<div class="container">
					<a class="navbar-brand h1 mb-0" href="/"><img
						src="/img/logo.png" width="120px" height="50px" /></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarNavAltMarkup"
						aria-controls="navbarNavAltMarkup" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
						<div class="navbar-nav">
							<a class="nav-item nav-link ml-4 mr-4" href="/EmGula">Home</a>
							<a class="nav-item nav-link ml-4 mr-4" href="#">Destaques</a> <a
								class="nav-item nav-link ml-4 mr-4" href="/EmGula/Cardapio">Cardápio</a>
							<a class="nav-item nav-link ml-4 mr-4" href="#">Quem Somos</a> <a
								class="nav-item nav-link ml-4 mr-4" href="#">Fale Conosco</a> <a
								class="nav-item nav-link ml-4 mr-4" href="#">Cadastre-se</a> <a
								class="btn btn-dark ml-9" href="#">Entrar</a>
						</div>
					</div>
				</div>
			</nav>
		</header>
		<div class="container mt-5 mb-5">
			<div class="row justify-content-md-center">
				<div th:each="prato :${listaDePratos}"
					class="col-sm-6 col-xl-4 mb-4">
					<div class="card">
						<img width="200px" height="300px"
							th:src=" '/' + ${prato.imagemCaminho}" class="card-img-top"
							alt="..." />
						<div class="card-body">
							<h1 th:text="${prato.nome}" class="card-title"></h1>
							<p th:text="'R$ ' + ${prato.preco}" class="card-text"></p>
							<a
								th:href="@{/EmGula/pratos/editarPrato/{codigo}(codigo = ${prato.id})}"
								class="btn btn-primary">Atualizar</a> <a
								th:href="@{/EmGula/pratos/excluir/{codigo}(codigo = ${prato.id})}"
								class="btn btn-danger">Remover</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>