<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
 <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<title>Insert title here</title>
</head>
<body>
	<!-- Botão para acionar modal -->
	<button type="button" class="btn btn-primary" data-toggle="modal"
		data-target="#ExemploModalCentralizado">Atualizar</button>

	<!-- Modal -->
	<div class="modal fade" id="ExemploModalCentralizado" tabindex="-1"
		role="dialog" aria-labelledby="TituloModalCentralizado"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="TituloModalCentralizado">Título do
						modal</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Fechar">
						<span aria-hidden="true">&times;</span>
					</button>

					

				</div>
				<div class="modal-body">
				
				
						<div th:object="${prato}">
							<div class="card">
								<img width="200px" height="300px"
									th:src=" '/' + ${prato.imagemCaminho}" class="card-img-top"
									alt="..." />
								<div class="card-body">
									<h1 th:text="${prato.nome}" class="card-title"></h1>
									<p th:text="'R$ ' + ${prato.preco}" class="card-text"></p>
								</div>
							</div>
						</div>

					<form action="#" th:action="@{/EmGula/pratos/atualizar}"
						method="POST" th:object="${prato}" enctype="multipart/form-data">

						<div class="alert alert-success" role="alert"
							th:if="${!#strings.isEmpty(mensagem)}">
							<i class="far fa-thumbs-up"> </i> <span th:text="${mensagem}"></span>
						</div>

						<div class="alert alert-danger" role="alert"
							th:if="${#fields.hasAnyErrors()}">

							<div th:each="detailedError : ${#fields.detailedErrors()}">
								<i class="fas fa-bug"> </i> <span
									th:text="${detailedError.message}"></span>
							</div>

						</div>

						<input type="hidden" th:field="*{id}"></input> <input
							type="hidden" th:field="*{cod}"></input> <input type="hidden"
							th:field="*{imagemCaminho}"></input>

						<div class="form-group">
							<label for="nome">Nome</label> <input th:field="*{nome}"
								type="text" class="form-control" id="nome"
								placeholder="Nome do Prato">
						</div>
						<div class="form-group">
							<label for="nome">Preço</label> <input th:field="*{preco}"
								type="text" class="form-control" id="preco"
								placeholder="Preço do Prato">
						</div>
						<div class="form-group">
							<label for="exampleFormControlFile1">Selecione uma Imagem</label>
							<input type="file" class="form-control-file" name="imagem"
								id="imagem">
						</div>
						<div class="modal-footer">
							<button type="submit" value="Cadastrar" class="btn btn-primary">Atualizar</button>
							<a href="/EmGula/pratos/atualizar" class="btn btn-link">Ver
								pratos</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>
</html>